body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #333;
}

/* label, select, button {
    margin: 10px;
    font-size: 16px;
} */
input {
    padding: 8px;
    border: 1px solid #000;
    border-radius: 4px;
    margin-bottom: 5vh;

}
#cero {
    flex: 2;
}


.buttons {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
  }
  
  .row button {
    flex: 1;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin: 5px;
    background-color: #202020;
    color: white;
  }
  
  .row button:hover {
    background-color: #363636;
  }
  

#igual {
    flex: 2;

}

button:hover {
    background-color: #525252;
}

#display {
    width: 97%;
    height: 40px;
    font-size: 20px;
    text-align: right;
  }

.center {
    text-align: center;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #d4d4d4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(42 42 42);
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 55vh;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}